@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hi There</h1>

    <a asp-action="Expenses" class="btn btn-info"> Overview</a>

    <a asp-action="CreateEditExpense" class="btn btn-secondary"> Create Expense</a>
</div>
